* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout {
  margin: 20px;
  border: 2px solid red;
  padding: 20px;
  grid-gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.layout-img {
  width: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: all 0.5s;
  position: relative;
}

.layout-img:hover {
  transform: scale(1.1);
  cursor: pointer;
  z-index: 99;
}
