* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout {
  background-color: #f1f1f1;
  margin: 20px;
  border: 2px solid red;
  padding: 40px;
  grid-gap: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.layout-img {
  width: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: all 0.5s;
  position: relative;
}

.layout-img:hover {
  transform: scale(1.1);
  cursor: pointer;
  z-index: 99;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: blue;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: red;
  color: white;
}

.round {
  border-radius: 50%;
}
